<ul class="sidebar-menu">
    <li class="active"><a href="#"><i class="fa fa-dashboard"></i><span>Dashboard</span>
    </a></li>
    <!--CostOrExpense-->
    <li><a href="@Url.Action("Index", "CostOrExpense")"><i class="fa fa-th"></i><span>Cost/Expense</span>
        <small class="badge pull-right bg-red">out</small> </a></li>
    <!--SaleOrIncome-->
    <li><a href="@Url.Action("Index", "SaleOrIncome")"><i class="fa fa-th"></i><span>Sale/Income</span>
        <small class="badge pull-right bg-green">in</small> </a></li>
    <!--Charts-->
    <li class="treeview"><a href="@Url.Action("Index", "Charts")"><i class="fa fa-bar-chart-o">
    </i><span>Charts</span><i class="fa fa-angle-left pull-right"> </i><small class="badge pull-right bg-green">
        paid feature</small></a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "Charts")"><i class="fa fa-angle-double-right"></i>
                Charts One</a></li>
            <li><a href="@Url.Action("Index", "Charts")"><i class="fa fa-angle-double-right"></i>
                Charts Two</a></li>
            <li><a href="@Url.Action("Index", "Charts")"><i class="fa fa-angle-double-right"></i>
                Charts Three</a></li>
        </ul>
    </li>
    <li><a href="@Url.Action("Index", "Help")"><i class="fa fa-calendar"></i><span>Calendar</span></a></li>
    <!--Settings-->
    <li class="treeview"><a href="#"><i class="fa fa-gears"></i><span>Settings</span> <i
        class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "Account")"><i class="fa fa-angle-double-right"></i>
                Accounts</a></li>
            <li><a href="@Url.Action("Index", "Currency")"><i class="fa fa-angle-double-right"></i>
                Currency</a></li>
            <li><a href="@Url.Action("Index", "CostOrExpenseCategory")"><i class="fa fa-angle-double-right">
            </i>Cost/Expense Category</a></li>
            <li><a href="@Url.Action("Index", "SaleOrIncomeCategory")"><i class="fa fa-angle-double-right">
            </i>Sale/Income Category</a></li>
        </ul>
    </li>
    <!--Help-->
    <li><a href="@Url.Action("Index", "Help")"><i class="fa fa-laptop"></i><span>Help</span></a></li>
</ul>
